.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.featuredItem {
  flex: 1;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 20px;
  -webkit-box-shadow: -1px 3px 12px -9px rgba(107, 109, 121, 1);
  -moz-box-shadow: -1px 3px 12px -9px rgba(107, 109, 121, 1);
  box-shadow: -1px 3px 12px -9px rgba(107, 109, 121, 1);
}
.featuredTitle {
  font-size: 20px;
}
.featruedMoneyContainer {
  margin: 10px 0px;
  display: flex;
  align-items: center;
}
.featuredMoney {
  font-size: 30px;
  font-weight: 600;
}
.featuredMoneyRate {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.featuredIcons {
  font-size: 14px !important;
  margin-left: 5px;
  color: green;
}

.featuredIcons.negative {
  color: red;
}
.featuredSub {
  font-size: 15px;
  color: grey;
}
